name: CITATION.cff

on:
  push:
    paths:
      - CITATION.cff
  pull_request:
    paths:
      - CITATION.cff
  workflow_dispatch:

jobs:
  validate:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 5
      - name: Validate CITATION.cff
        uses: dieghernan/cff-validator@v3
